# macOS
.DS_Store
**/.DS_Store

# Microsoft Office temp files
~$*.docx
~$*.xlsx
~$*.pptx

# (опционально) если не хочешь хранить документы в репо
# docs/**/*.docx
# docs/**/*.xlsx
# docs/**/*.pptx

# macOS junk
.DS_Store
**/.DS_Store

# local docs
*.docx
**/*.docx
