/* product buttons */
.buy-button:hover img{
    opacity: 0.8;
}

/* just image */


.product_cbutton {
    display: block;
    border: none;
    background-color: transparent;
    margin: 10px auto;
    float: none;
    clear: both;
    background-position: center top;
    background-repeat: no-repeat!important;
    cursor: pointer;
    box-shadow: none;
    outline: none!important;

}
.product_cbutton:hover{
    background-position: center bottom;
}
.product_cbutton:active{
    outline: none!important;
}
.ps_product_button_1 {
    width: 430px;
    height: 147px;
    background: url(../i/static/bigbuttons/1.png) center top no-repeat;
}

.ps_product_button_2 {
    width: 600px;
    height: 186px;
    background: url(../i/static/bigbuttons/2.png) center top no-repeat;
}

.ps_product_button_3 {
    width: 573px;
    height: 178px;
    background: url(../i/static/bigbuttons/3.png) center top no-repeat;
}

.ps_product_button_4 {
    width: 430px;
    height: 147px;
    background: url(../i/static/bigbuttons/4.png) center top no-repeat;
}

.ps_product_button_5 {
    width: 430px;
    height: 147px;
    background: url(../i/static/bigbuttons/5.png) center top no-repeat;
}

.ps_product_button_6 {
    width: 430px;
    height: 122px;
    background: url(../i/static/bigbuttons/6.png) center top no-repeat;
}

.ps_product_button_7 {
    width: 573px;
    height: 178px;
    background: url(../i/static/bigbuttons/7.png) center top no-repeat;
}

.ps_product_button_8 {
    width: 430px;
    height: 122px;
    background: url(../i/static/bigbuttons/8.png) center top no-repeat;
}

.ps_product_button_9 {
    width: 430px;
    height: 122px;
    background: url(../i/static/bigbuttons/9.png) center top no-repeat;
}

.ps_product_button_10 {
    width: 469px;
    height: 173px;
    background: url(../i/static/bigbuttons/10.png) center top no-repeat;
}

.ps_product_button_11 {
    width: 469px;
    height: 173px;
    background: url(../i/static/bigbuttons/11.png) center top no-repeat;
}

.ps_product_button_12 {
    width: 469px;
    height: 173px;
    background: url(../i/static/bigbuttons/12.png) center top no-repeat;
}
/*  big buttons */
.ps_product_button_big_1{
    width: 323px;
    height: 110px;
    background-image: url(../i/static/buy_button/big/1.png);
}
.ps_product_button_big_2{
    width: 450px;
    height: 137px;
    background-image: url(../i/static/buy_button/big/2.png);
}
.ps_product_button_big_3{
    width: 430px;
    height: 134px;
    background-image: url(../i/static/buy_button/big/3.png);
}
.ps_product_button_big_4{
    width: 323px;
    height: 110px;
    background-image: url(../i/static/buy_button/big/4.png);
}
.ps_product_button_big_5{
    width: 323px;
    height: 110px;
    background-image: url(../i/static/buy_button/big/5.png);
}
.ps_product_button_big_6{
    width: 323px;
    height: 92px;
    background-image: url(../i/static/buy_button/big/6.png);
}
.ps_product_button_big_7{
    width: 430px;
    height: 134px;
    background-image: url(../i/static/buy_button/big/7.png);
}
.ps_product_button_big_8{
    width: 323px;
    height: 92px;
    background-image: url(../i/static/buy_button/big/8.png);
}
.ps_product_button_big_9{
    width: 323px;
    height: 92px;
    background-image: url(../i/static/buy_button/big/9.png);
}
.ps_product_button_big_10{
    width: 352px;
    height: 130px;
    background-image: url(../i/static/buy_button/big/10.png);
}
.ps_product_button_big_11{
    width: 352px;
    height: 130px;
    background-image: url(../i/static/buy_button/big/11.png);
}
.ps_product_button_big_12{
    width: 352px;
    height: 130px;
    background-image: url(../i/static/buy_button/big/12.png);
}

.ps_product_button_big_13{
    width: 411px;
    height: 194px;
    background-image: url(../i/static/buy_button/big/13.png);
}
.ps_product_button_big_14{
    width: 411px;
    height: 194px;
    background-image: url(../i/static/buy_button/big/14.png);
}
.ps_product_button_big_15{
    width: 411px;
    height: 194px;
    background-image: url(../i/static/buy_button/big/15.png);
}
.ps_product_button_big_16{
    width: 411px;
    height: 194px;
    background-image: url(../i/static/buy_button/big/16.png);
}
.ps_product_button_big_17{
    width: 411px;
    height: 194px;
    background-image: url(../i/static/buy_button/big/17.png);
}
.ps_product_button_big_18{
    width: 411px;
    height: 194px;
    background-image: url(../i/static/buy_button/big/18.png);
}
.ps_product_button_big_19{
    width: 411px;
    height: 194px;
    background-image: url(../i/static/buy_button/big/19.png);
}
.ps_product_button_big_20{
    width: 411px;
    height: 194px;
    background-image: url(../i/static/buy_button/big/20.png);
}
.ps_product_button_big_21{
    width: 411px;
    height: 194px;
    background-image: url(../i/static/buy_button/big/21.png);
}
.ps_product_button_big_22{
    width: 411px;
    height: 194px;
    background-image: url(../i/static/buy_button/big/22.png);
}
.ps_product_button_big_23{
    width: 411px;
    height: 194px;
    background-image: url(../i/static/buy_button/big/23.png);
}
.ps_product_button_big_24{
    width: 411px;
    height: 194px;
    background-image: url(../i/static/buy_button/big/24.png);
}
.ps_product_button_big_25{
    width: 411px;
    height: 194px;
    background-image: url(../i/static/buy_button/big/25.png);
}
.ps_product_button_big_26{
    width: 411px;
    height: 194px;
    background-image: url(../i/static/buy_button/big/26.png);
}
.ps_product_button_big_27{
    width: 411px;
    height: 194px;
    background-image: url(../i/static/buy_button/big/27.png);
}
.ps_product_button_big_28{
    width: 411px;
    height: 194px;
    background-image: url(../i/static/buy_button/big/28.png);
}
.ps_product_button_big_29{
    width: 411px;
    height: 194px;
    background-image: url(../i/static/buy_button/big/29.png);
}
.ps_product_button_big_30{
    width: 411px;
    height: 194px;
    background-image: url(../i/static/buy_button/big/30.png);
}
.ps_product_button_big_31{
    width: 411px;
    height: 194px;
    background-image: url(../i/static/buy_button/big/31.png);
}
.ps_product_button_big_32{
    width: 411px;
    height: 194px;
    background-image: url(../i/static/buy_button/big/32.png);
}
.ps_product_button_big_33{
    width: 411px;
    height: 153px;
    background-image: url(../i/static/buy_button/big/33.png);
}
.ps_product_button_big_34{
    width: 411px;
    height: 153px;
    background-image: url(../i/static/buy_button/big/34.png);
}
.ps_product_button_big_35{
    width: 411px;
    height: 155px;
    background-image: url(../i/static/buy_button/big/35.png);
}
.ps_product_button_big_36{
    width: 411px;
    height: 155px;
    background-image: url(../i/static/buy_button/big/36.png);
}
.ps_product_button_big_37{
    width: 411px;
    height: 156px;
    background-image: url(../i/static/buy_button/big/37.png);
}
.ps_product_button_big_38{
    width: 411px;
    height: 156px;
    background-image: url(../i/static/buy_button/big/38.png);
}
.ps_product_button_big_39{
    width: 411px;
    height: 158px;
    background-image: url(../i/static/buy_button/big/39.png);
}
.ps_product_button_big_40{
    width: 411px;
    height: 158px;
    background-image: url(../i/static/buy_button/big/40.png);
}
.ps_product_button_big_41{
    width: 411px;
    height: 159px;
    background-image: url(../i/static/buy_button/big/41.png);
}
.ps_product_button_big_42{
    width: 411px;
    height: 159px;
    background-image: url(../i/static/buy_button/big/42.png);
}
.ps_product_button_big_43{
    width: 411px;
    height: 194px;
    background-image: url(../i/static/buy_button/big/43.png);
}
.ps_product_button_big_44{
    width: 411px;
    height: 194px;
    background-image: url(../i/static/buy_button/big/44.png);
}
.ps_product_button_big_45{
    width: 411px;
    height: 194px;
    background-image: url(../i/static/buy_button/big/45.png);
}
.ps_product_button_big_46{
    width: 411px;
    height: 194px;
    background-image: url(../i/static/buy_button/big/46.png);
}
.ps_product_button_big_47{
    width: 411px;
    height: 194px;
    background-image: url(../i/static/buy_button/big/47.png);
}
.ps_product_button_big_48{
    width: 411px;
    height: 194px;
    background-image: url(../i/static/buy_button/big/48.png);
}
.ps_product_button_big_49{
    width: 411px;
    height: 194px;
    background-image: url(../i/static/buy_button/big/49.png);
}
.ps_product_button_big_50{
    width: 411px;
    height: 194px;
    background-image: url(../i/static/buy_button/big/50.png);
}
.ps_product_button_big_51{
    width: 411px;
    height: 194px;
    background-image: url(../i/static/buy_button/big/51.png);
}
.ps_product_button_big_52{
    width: 411px;
    height: 194px;
    background-image: url(../i/static/buy_button/big/52.png);
}
.ps_product_button_big_53{
    width: 714px;
    height: 283px;
    background-image: url(../i/static/buy_button/big/53.png);
}
.ps_product_button_big_54{
    width: 714px;
    height: 285px;
    background-image: url(../i/static/buy_button/big/54.png);
}
.ps_product_button_big_55{
    width: 714px;
    height: 283px;
    background-image: url(../i/static/buy_button/big/55.png);
}
.ps_product_button_big_56{
    width: 714px;
    height: 284px;
    background-image: url(../i/static/buy_button/big/56.png);
}
.ps_product_button_big_57{
    width: 714px;
    height: 284px;
    background-image: url(../i/static/buy_button/big/57.png);
}
.ps_product_button_big_58{
    width: 714px;
    height: 285px;
    background-image: url(../i/static/buy_button/big/58.png);
}
.ps_product_button_big_59{
    width: 714px;
    height: 285px;
    background-image: url(../i/static/buy_button/big/59.png);
}
.ps_product_button_big_60{
    width: 714px;
    height: 284px;
    background-image: url(../i/static/buy_button/big/60.png);
}
.ps_product_button_big_61{
    width: 714px;
    height: 284px;
    background-image: url(../i/static/buy_button/big/61.png);
}
.ps_product_button_big_62{
    width: 714px;
    height: 284px;
    background-image: url(../i/static/buy_button/big/62.png);
}
.ps_product_button_big_63{
    width: 409px;
    height: 158px;
    background-image: url(../i/static/buy_button/big/63.png);
}
.ps_product_button_big_64{
    width: 357px;
    height: 116px;
    background-image: url(../i/static/buy_button/big/64.png);
}
.ps_product_button_big_65{
    width: 397px;
    height: 87px;
    background-image: url(../i/static/buy_button/big/65.png);
}
.ps_product_button_big_66{
    width: 449px;
    height: 100px;
    background-image: url(../i/static/buy_button/big/66.png);
}
.ps_product_button_big_67{
    width: 452px;
    height: 114px;
    background-image: url(../i/static/buy_button/big/67.png);
}
.ps_product_button_big_68{
    width: 290px;
    height: 79px;
    background-image: url(../i/static/buy_button/big/68.png);
}
.ps_product_button_big_69{
    width: 208px;
    height: 40px;
    background-image: url(../i/static/buy_button/big/69.png);
}
.ps_product_button_big_70{
    width: 400px;
    height: 102px;
    background-image: url(../i/static/buy_button/big/70.png);
}
.ps_product_button_big_71{
    width: 379px;
    height: 149px;
    background-image: url(../i/static/buy_button/big/71.png);
}
.ps_product_button_big_72{
    width: 427px;
    height: 104px;
    background-image: url(../i/static/buy_button/big/72.png);
}
.ps_product_button_big_73{
    width: 330px;
    height: 107px;
    background-image: url(../i/static/buy_button/big/73.png);
}
.ps_product_button_big_74{
    width: 350px;
    height: 99px;
    background-image: url(../i/static/buy_button/big/74.png);
}
.ps_product_button_big_75{
    width: 342px;
    height: 124px;
    background-image: url(../i/static/buy_button/big/75.png);
}
.ps_product_button_big_76{
    width: 383px;
    height: 129px;
    background-image: url(../i/static/buy_button/big/76.png);
}
.ps_product_button_big_77{
    width: 401px;
    height: 176px;
    background-image: url(../i/static/buy_button/big/77.png);
}

/* medium buttons */
.ps_product_button_medium_1{
    width: 226px;
    height: 77px;
    background-image: url(../i/static/buy_button/medium/1.png);
}
.ps_product_button_medium_2{
    width: 315px;
    height: 96px;
    background-image: url(../i/static/buy_button/medium/2.png);
}
.ps_product_button_medium_3{
    width: 301px;
    height: 94px;
    background-image: url(../i/static/buy_button/medium/3.png);
}
.ps_product_button_medium_4{
    width: 226px;
    height: 77px;
    background-image: url(../i/static/buy_button/medium/4.png);
}
.ps_product_button_medium_5{
    width: 226px;
    height: 77px;
    background-image: url(../i/static/buy_button/medium/5.png);
}
.ps_product_button_medium_6{
    width: 226px;
    height: 64px;
    background-image: url(../i/static/buy_button/medium/6.png);
}
.ps_product_button_medium_7{
    width: 301px;
    height: 94px;
    background-image: url(../i/static/buy_button/medium/7.png);
}
.ps_product_button_medium_8{
    width: 226px;
    height: 64px;
    background-image: url(../i/static/buy_button/medium/8.png);
}
.ps_product_button_medium_9{
    width: 226px;
    height: 64px;
    background-image: url(../i/static/buy_button/medium/9.png);
}
.ps_product_button_medium_10{
    width: 246px;
    height: 91px;
    background-image: url(../i/static/buy_button/medium/10.png);
}
.ps_product_button_medium_11{
    width: 246px;
    height: 91px;
    background-image: url(../i/static/buy_button/medium/11.png);
}
.ps_product_button_medium_12{
    width: 246px;
    height: 91px;
    background-image: url(../i/static/buy_button/medium/12.png);
}

.ps_product_button_medium_13{
    width: 288px;
    height: 136px;
    background-image: url(../i/static/buy_button/medium/13.png);
}
.ps_product_button_medium_14{
    width: 288px;
    height: 136px;
    background-image: url(../i/static/buy_button/medium/14.png);
}
.ps_product_button_medium_15{
    width: 288px;
    height: 136px;
    background-image: url(../i/static/buy_button/medium/15.png);
}
.ps_product_button_medium_16{
    width: 288px;
    height: 136px;
    background-image: url(../i/static/buy_button/medium/16.png);
}
.ps_product_button_medium_17{
    width: 288px;
    height: 136px;
    background-image: url(../i/static/buy_button/medium/17.png);
}
.ps_product_button_medium_18{
    width: 288px;
    height: 136px;
    background-image: url(../i/static/buy_button/medium/18.png);
}
.ps_product_button_medium_19{
    width: 288px;
    height: 136px;
    background-image: url(../i/static/buy_button/medium/19.png);
}
.ps_product_button_medium_20{
    width: 288px;
    height: 136px;
    background-image: url(../i/static/buy_button/medium/20.png);
}
.ps_product_button_medium_21{
    width: 288px;
    height: 136px;
    background-image: url(../i/static/buy_button/medium/21.png);
}
.ps_product_button_medium_22{
    width: 288px;
    height: 136px;
    background-image: url(../i/static/buy_button/medium/22.png);
}
.ps_product_button_medium_23{
    width: 288px;
    height: 136px;
    background-image: url(../i/static/buy_button/medium/23.png);
}
.ps_product_button_medium_24{
    width: 288px;
    height: 136px;
    background-image: url(../i/static/buy_button/medium/24.png);
}
.ps_product_button_medium_25{
    width: 288px;
    height: 136px;
    background-image: url(../i/static/buy_button/medium/25.png);
}
.ps_product_button_medium_26{
    width: 288px;
    height: 136px;
    background-image: url(../i/static/buy_button/medium/26.png);
}
.ps_product_button_medium_27{
    width: 288px;
    height: 136px;
    background-image: url(../i/static/buy_button/medium/27.png);
}
.ps_product_button_medium_28{
    width: 288px;
    height: 136px;
    background-image: url(../i/static/buy_button/medium/28.png);
}
.ps_product_button_medium_29{
    width: 288px;
    height: 136px;
    background-image: url(../i/static/buy_button/medium/29.png);
}
.ps_product_button_medium_30{
    width: 288px;
    height: 136px;
    background-image: url(../i/static/buy_button/medium/30.png);
}
.ps_product_button_medium_31{
    width: 288px;
    height: 136px;
    background-image: url(../i/static/buy_button/medium/31.png);
}
.ps_product_button_medium_32{
    width: 288px;
    height: 136px;
    background-image: url(../i/static/buy_button/medium/32.png);
}
.ps_product_button_medium_33{
    width: 288px;
    height: 107px;
    background-image: url(../i/static/buy_button/medium/33.png);
}
.ps_product_button_medium_34{
    width: 288px;
    height: 107px;
    background-image: url(../i/static/buy_button/medium/34.png);
}
.ps_product_button_medium_35{
    width: 288px;
    height: 108px;
    background-image: url(../i/static/buy_button/medium/35.png);
}
.ps_product_button_medium_36{
    width: 288px;
    height: 108px;
    background-image: url(../i/static/buy_button/medium/36.png);
}
.ps_product_button_medium_37{
    width: 288px;
    height: 109px;
    background-image: url(../i/static/buy_button/medium/37.png);
}
.ps_product_button_medium_38{
    width: 288px;
    height: 109px;
    background-image: url(../i/static/buy_button/medium/38.png);
}
.ps_product_button_medium_39{
    width: 288px;
    height: 110px;
    background-image: url(../i/static/buy_button/medium/39.png);
}
.ps_product_button_medium_40{
    width: 288px;
    height: 110px;
    background-image: url(../i/static/buy_button/medium/40.png);
}
.ps_product_button_medium_41{
    width: 288px;
    height: 111px;
    background-image: url(../i/static/buy_button/medium/41.png);
}
.ps_product_button_medium_42{
    width: 288px;
    height: 111px;
    background-image: url(../i/static/buy_button/medium/42.png);
}
.ps_product_button_medium_43{
    width: 288px;
    height: 136px;
    background-image: url(../i/static/buy_button/medium/43.png);
}
.ps_product_button_medium_44{
    width: 288px;
    height: 136px;
    background-image: url(../i/static/buy_button/medium/44.png);
}
.ps_product_button_medium_45{
    width: 288px;
    height: 136px;
    background-image: url(../i/static/buy_button/medium/45.png);
}
.ps_product_button_medium_46{
    width: 288px;
    height: 136px;
    background-image: url(../i/static/buy_button/medium/46.png);
}
.ps_product_button_medium_47{
    width: 288px;
    height: 136px;
    background-image: url(../i/static/buy_button/medium/47.png);
}
.ps_product_button_medium_48{
    width: 288px;
    height: 136px;
    background-image: url(../i/static/buy_button/medium/48.png);
}
.ps_product_button_medium_49{
    width: 288px;
    height: 136px;
    background-image: url(../i/static/buy_button/medium/49.png);
}
.ps_product_button_medium_50{
    width: 288px;
    height: 136px;
    background-image: url(../i/static/buy_button/medium/50.png);
}
.ps_product_button_medium_51{
    width: 288px;
    height: 136px;
    background-image: url(../i/static/buy_button/medium/51.png);
}
.ps_product_button_medium_52{
    width: 288px;
    height: 136px;
    background-image: url(../i/static/buy_button/medium/52.png);
}
.ps_product_button_medium_53{
    width: 500px;
    height: 198px;
    background-image: url(../i/static/buy_button/medium/53.png);
}
.ps_product_button_medium_54{
    width: 500px;
    height: 199px;
    background-image: url(../i/static/buy_button/medium/54.png);
}
.ps_product_button_medium_55{
    width: 500px;
    height: 198px;
    background-image: url(../i/static/buy_button/medium/55.png);
}
.ps_product_button_medium_56{
    width: 500px;
    height: 199px;
    background-image: url(../i/static/buy_button/medium/56.png);
}
.ps_product_button_medium_57{
    width: 500px;
    height: 199px;
    background-image: url(../i/static/buy_button/medium/57.png);
}
.ps_product_button_medium_58{
    width: 500px;
    height: 199px;
    background-image: url(../i/static/buy_button/medium/58.png);
}
.ps_product_button_medium_59{
    width: 500px;
    height: 199px;
    background-image: url(../i/static/buy_button/medium/59.png);
}
.ps_product_button_medium_60{
    width: 500px;
    height: 199px;
    background-image: url(../i/static/buy_button/medium/60.png);
}
.ps_product_button_medium_61{
    width: 500px;
    height: 199px;
    background-image: url(../i/static/buy_button/medium/61.png);
}
.ps_product_button_medium_62{
    width: 500px;
    height: 199px;
    background-image: url(../i/static/buy_button/medium/62.png);
}
.ps_product_button_medium_63{
    width: 286px;
    height: 110px;
    background-image: url(../i/static/buy_button/medium/63.png);
}
.ps_product_button_medium_64{
    width: 250px;
    height: 81px;
    background-image: url(../i/static/buy_button/medium/64.png);
}
.ps_product_button_medium_65{
    width: 278px;
    height: 61px;
    background-image: url(../i/static/buy_button/medium/65.png);
}
.ps_product_button_medium_66{
    width: 314px;
    height: 70px;
    background-image: url(../i/static/buy_button/medium/66.png);
}
.ps_product_button_medium_67{
    width: 316px;
    height: 80px;
    background-image: url(../i/static/buy_button/medium/67.png);
}
.ps_product_button_medium_68{
    width: 203px;
    height: 55px;
    background-image: url(../i/static/buy_button/medium/68.png);
}
.ps_product_button_medium_69{
    width: 146px;
    height: 28px;
    background-image: url(../i/static/buy_button/medium/69.png);
}
.ps_product_button_medium_70{
    width: 280px;
    height: 72px;
    background-image: url(../i/static/buy_button/medium/70.png);
}
.ps_product_button_medium_71{
    width: 265px;
    height: 104px;
    background-image: url(../i/static/buy_button/medium/71.png);
}
.ps_product_button_medium_72{
    width: 299px;
    height: 73px;
    background-image: url(../i/static/buy_button/medium/72.png);
}
.ps_product_button_medium_73{
    width: 231px;
    height: 75px;
    background-image: url(../i/static/buy_button/medium/73.png);
}
.ps_product_button_medium_74{
    width: 245px;
    height: 69px;
    background-image: url(../i/static/buy_button/medium/74.png);
}
.ps_product_button_medium_75{
    width: 239px;
    height: 87px;
    background-image: url(../i/static/buy_button/medium/75.png);
}
.ps_product_button_medium_76{
    width: 268px;
    height: 90px;
    background-image: url(../i/static/buy_button/medium/76.png);
}
.ps_product_button_medium_77{
    width: 280px;
    height: 123px;
    background-image: url(../i/static/buy_button/medium/77.png);
}

/* small buttons */
.ps_product_button_small_1{
    width: 162px;
    height: 55px;
    background-image: url(../i/static/buy_button/small/1.png);
}
.ps_product_button_small_2{
    width: 225px;
    height: 68px;
    background-image: url(../i/static/buy_button/small/2.png);
}
.ps_product_button_small_3{
    width: 215px;
    height: 67px;
    background-image: url(../i/static/buy_button/small/3.png);
}
.ps_product_button_small_4{
    width: 162px;
    height: 55px;
    background-image: url(../i/static/buy_button/small/4.png);
}
.ps_product_button_small_5{
    width: 162px;
    height: 55px;
    background-image: url(../i/static/buy_button/small/5.png);
}
.ps_product_button_small_6{
    width: 162px;
    height: 46px;
    background-image: url(../i/static/buy_button/small/6.png);
}
.ps_product_button_small_7{
    width: 215px;
    height: 67px;
    background-image: url(../i/static/buy_button/small/7.png);
}
.ps_product_button_small_8{
    width: 162px;
    height: 46px;
    background-image: url(../i/static/buy_button/small/8.png);
}
.ps_product_button_small_9{
    width: 162px;
    height: 46px;
    background-image: url(../i/static/buy_button/small/9.png);
}
.ps_product_button_small_10{
    width: 176px;
    height: 65px;
    background-image: url(../i/static/buy_button/small/10.png);
}
.ps_product_button_small_11{
    width: 176px;
    height: 65px;
    background-image: url(../i/static/buy_button/small/11.png);
}
.ps_product_button_small_12{
    width: 176px;
    height: 65px;
    background-image: url(../i/static/buy_button/small/12.png);
}

.ps_product_button_small_13{
    width: 206px;
    height: 97px;
    background-image: url(../i/static/buy_button/small/13.png);
}
.ps_product_button_small_14{
    width: 206px;
    height: 97px;
    background-image: url(../i/static/buy_button/small/14.png);
}
.ps_product_button_small_15{
    width: 206px;
    height: 97px;
    background-image: url(../i/static/buy_button/small/15.png);
}
.ps_product_button_small_16{
    width: 206px;
    height: 97px;
    background-image: url(../i/static/buy_button/small/16.png);
}
.ps_product_button_small_17{
    width: 206px;
    height: 97px;
    background-image: url(../i/static/buy_button/small/17.png);
}
.ps_product_button_small_18{
    width: 206px;
    height: 97px;
    background-image: url(../i/static/buy_button/small/18.png);
}
.ps_product_button_small_19{
    width: 206px;
    height: 97px;
    background-image: url(../i/static/buy_button/small/19.png);
}
.ps_product_button_small_20{
    width: 206px;
    height: 97px;
    background-image: url(../i/static/buy_button/small/20.png);
}
.ps_product_button_small_21{
    width: 206px;
    height: 97px;
    background-image: url(../i/static/buy_button/small/21.png);
}
.ps_product_button_small_22{
    width: 206px;
    height: 97px;
    background-image: url(../i/static/buy_button/small/22.png);
}
.ps_product_button_small_23{
    width: 206px;
    height: 97px;
    background-image: url(../i/static/buy_button/small/23.png);
}
.ps_product_button_small_24{
    width: 206px;
    height: 97px;
    background-image: url(../i/static/buy_button/small/24.png);
}
.ps_product_button_small_25{
    width: 206px;
    height: 97px;
    background-image: url(../i/static/buy_button/small/25.png);
}
.ps_product_button_small_26{
    width: 206px;
    height: 97px;
    background-image: url(../i/static/buy_button/small/26.png);
}
.ps_product_button_small_27{
    width: 206px;
    height: 97px;
    background-image: url(../i/static/buy_button/small/27.png);
}
.ps_product_button_small_28{
    width: 206px;
    height: 97px;
    background-image: url(../i/static/buy_button/small/28.png);
}
.ps_product_button_small_29{
    width: 206px;
    height: 97px;
    background-image: url(../i/static/buy_button/small/29.png);
}
.ps_product_button_small_30{
    width: 206px;
    height: 97px;
    background-image: url(../i/static/buy_button/small/30.png);
}
.ps_product_button_small_31{
    width: 206px;
    height: 97px;
    background-image: url(../i/static/buy_button/small/31.png);
}
.ps_product_button_small_32{
    width: 206px;
    height: 97px;
    background-image: url(../i/static/buy_button/small/32.png);
}
.ps_product_button_small_33{
    width: 206px;
    height: 76px;
    background-image: url(../i/static/buy_button/small/33.png);
}
.ps_product_button_small_34{
    width: 206px;
    height: 76px;
    background-image: url(../i/static/buy_button/small/34.png);
}
.ps_product_button_small_35{
    width: 206px;
    height: 77px;
    background-image: url(../i/static/buy_button/small/35.png);
}
.ps_product_button_small_36{
    width: 206px;
    height: 77px;
    background-image: url(../i/static/buy_button/small/36.png);
}
.ps_product_button_small_37{
    width: 206px;
    height: 78px;
    background-image: url(../i/static/buy_button/small/37.png);
}
.ps_product_button_small_38{
    width: 206px;
    height: 78px;
    background-image: url(../i/static/buy_button/small/38.png);
}
.ps_product_button_small_39{
    width: 206px;
    height: 79px;
    background-image: url(../i/static/buy_button/small/39.png);
}
.ps_product_button_small_40{
    width: 206px;
    height: 79px;
    background-image: url(../i/static/buy_button/small/40.png);
}
.ps_product_button_small_41{
    width: 206px;
    height: 79px;
    background-image: url(../i/static/buy_button/small/41.png);
}
.ps_product_button_small_42{
    width: 206px;
    height: 79px;
    background-image: url(../i/static/buy_button/small/42.png);
}
.ps_product_button_small_43{
    width: 206px;
    height: 97px;
    background-image: url(../i/static/buy_button/small/43.png);
}
.ps_product_button_small_44{
    width: 206px;
    height: 97px;
    background-image: url(../i/static/buy_button/small/44.png);
}
.ps_product_button_small_45{
    width: 206px;
    height: 97px;
    background-image: url(../i/static/buy_button/small/45.png);
}
.ps_product_button_small_46{
    width: 206px;
    height: 97px;
    background-image: url(../i/static/buy_button/small/46.png);
}
.ps_product_button_small_47{
    width: 206px;
    height: 97px;
    background-image: url(../i/static/buy_button/small/47.png);
}
.ps_product_button_small_48{
    width: 206px;
    height: 97px;
    background-image: url(../i/static/buy_button/small/48.png);
}
.ps_product_button_small_49{
    width: 206px;
    height: 97px;
    background-image: url(../i/static/buy_button/small/49.png);
}
.ps_product_button_small_50{
    width: 206px;
    height: 97px;
    background-image: url(../i/static/buy_button/small/50.png);
}
.ps_product_button_small_51{
    width: 206px;
    height: 97px;
    background-image: url(../i/static/buy_button/small/51.png);
}
.ps_product_button_small_52{
    width: 206px;
    height: 97px;
    background-image: url(../i/static/buy_button/small/52.png);
}
.ps_product_button_small_53{
    width: 357px;
    height: 141px;
    background-image: url(../i/static/buy_button/small/53.png);
}
.ps_product_button_small_54{
    width: 357px;
    height: 142px;
    background-image: url(../i/static/buy_button/small/54.png);
}
.ps_product_button_small_55{
    width: 357px;
    height: 141px;
    background-image: url(../i/static/buy_button/small/55.png);
}
.ps_product_button_small_56{
    width: 357px;
    height: 142px;
    background-image: url(../i/static/buy_button/small/56.png);
}
.ps_product_button_small_57{
    width: 357px;
    height: 142px;
    background-image: url(../i/static/buy_button/small/57.png);
}
.ps_product_button_small_58{
    width: 357px;
    height: 142px;
    background-image: url(../i/static/buy_button/small/58.png);
}
.ps_product_button_small_59{
    width: 357px;
    height: 142px;
    background-image: url(../i/static/buy_button/small/59.png);
}
.ps_product_button_small_60{
    width: 357px;
    height: 142px;
    background-image: url(../i/static/buy_button/small/60.png);
}
.ps_product_button_small_61{
    width: 357px;
    height: 142px;
    background-image: url(../i/static/buy_button/small/61.png);
}
.ps_product_button_small_62{
    width: 357px;
    height: 142px;
    background-image: url(../i/static/buy_button/small/62.png);
}
.ps_product_button_small_63{
    width: 205px;
    height: 79px;
    background-image: url(../i/static/buy_button/small/63.png);
}
.ps_product_button_small_64{
    width: 179px;
    height: 58px;
    background-image: url(../i/static/buy_button/small/64.png);
}
.ps_product_button_small_65{
    width: 199px;
    height: 43px;
    background-image: url(../i/static/buy_button/small/65.png);
}
.ps_product_button_small_66{
    width: 225px;
    height: 50px;
    background-image: url(../i/static/buy_button/small/66.png);
}
.ps_product_button_small_67{
    width: 226px;
    height: 57px;
    background-image: url(../i/static/buy_button/small/67.png);
}
.ps_product_button_small_68{
    width: 145px;
    height: 39px;
    background-image: url(../i/static/buy_button/small/68.png);
}
.ps_product_button_small_69{
    width: 104px;
    height: 20px;
    background-image: url(../i/static/buy_button/small/69.png);
}
.ps_product_button_small_70{
    width: 200px;
    height: 51px;
    background-image: url(../i/static/buy_button/small/70.png);
}
.ps_product_button_small_71{
    width: 190px;
    height: 74px;
    background-image: url(../i/static/buy_button/small/71.png);
}
.ps_product_button_small_72{
    width: 214px;
    height: 52px;
    background-image: url(../i/static/buy_button/small/72.png);
}
.ps_product_button_small_73{
    width: 165px;
    height: 53px;
    background-image: url(../i/static/buy_button/small/73.png);
}
.ps_product_button_small_74{
    width: 175px;
    height: 49px;
    background-image: url(../i/static/buy_button/small/74.png);
}
.ps_product_button_small_75{
    width: 171px;
    height: 62px;
    background-image: url(../i/static/buy_button/small/75.png);
}
.ps_product_button_small_76{
    width: 192px;
    height: 64px;
    background-image: url(../i/static/buy_button/small/76.png);
}
.ps_product_button_small_77{
    width: 201px;
    height: 88px;
    background-image: url(../i/static/buy_button/small/77.png);
}

/**/

