@import url("reset.css");
@import url("review.css");
@import url("buy_buttons.css");
@import url("bullets.css");
@import url("bonus.css");
@import url("video.css");
@import url("audio.css");
@import url("boxes.css");
@import url("gallery.css");
@import url("wp-content.css");


/**/
html {
    height: 100%;
}

em {
    font-style: italic;
}

b, strong {
    font-weight: bold;
}
a{
    text-decoration: underline;
}
img{
    box-shadow: none!important;
}

body {
    font-family:Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: normal;
    color: #292929;
    /*max-width: 640px;*/
}

body.mceContentBody {
    width: auto;
    /*width: 680px;*/
    background: #fff;
    padding: 20px;
    overflow: visible !important;
}
body.mceContentBody.mailcontent {
    box-sizing: border-box;
    height: 100%;
    width: 645px;
}

.mceContentBody blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid #eee;
}

.page_title {
    margin: 10px 0 20px;
    font: italic 30px/35px Georgia, "Times New Roman", Times, serif;
    text-align: center;
}

.mceContentBody {
    overflow: hidden;
}

.mceContentBody iframe {
    display: block;
    padding: 20px;
    border: 1px dashed #ccc;
    margin: 10px auto;
}

.alignleft {
    float: left;
    margin: 5px 15px 5px 0;
    clear: right;
}

.alignright {
    float: right;
    margin: 5px 0 5px 15px;
    clear: left;
}

.aligncenter {
    display: block;
    float: none;
    clear: both;
    text-align: center;
    margin: 10px auto;
}

body.mceContentBody.mailcontent blockquote {
    color: #272727;
    margin-left: 15px;
}

.mceContentBody ol {
    list-style: decimal outside !important;
    padding: 0 0 0 50px;
}

table {
    width: 100%;
}

td {
    padding: 10px;
    vertical-align: top;
    border: 1px dashed #cccccc!important;
}

p {
    overflow: hidden;
    margin-bottom: 15px;
}

/* media */
.media_wrap {
    position: relative;
    margin-bottom: 30px
}

.media_box {
    width: 910px;
    height: 420px;
    margin-left: -140px;
    border: 1px solid #ababab;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #fff;
    padding: 20px;
}

.media_title {
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: 5px;
}

.media_box .video {
    float: left;
    width: 579px;
    height: 359px;
}

/**/
.media_box .smartresponder {
    float: right;
    width: 300px;
}

.ps_cbutton {
    display: block !important;
    clear: both;
    float: none;
    text-align: center;
    display: block;
    width: 300px;
    height: 53px;
    padding: 0 !important;
    margin: 5px auto;
    border: none;
    font: 18px/52px Arial, Helvetica, sans-serif;
    color: #fff;
    cursor: pointer;
}


/**/
.ps_arrow, .ps_satisfaction {
    display: block;
    clear: both;
    margin: 10px auto;
    float: none;
    text-align: center;
    border: none;
}



/**
 * WP Views
 */

.wpview-wrap {
    width: 99.99%; /* All IE need hasLayout, incl. 11 (ugh, not again!!) */
    position: relative;
    clear: both;
}

/* delegate the handling of the selection to the wpview tinymce plugin */
.wpview-wrap,
.wpview-wrap * {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* hide the shortcode content, but allow the content to still be selected */
.wpview-wrap .wpview-clipboard {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    clip: rect(1px 1px 1px 1px); /* IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    outline: 0;
    padding: 0;
    border: 0;
    width: 1px;
    height: 1px;
}

/**
 * Media previews
 */
.wpview-wrap {
    position: relative;
    margin-bottom: 16px;
    border: 1px solid transparent;
}

.wpview-wrap.selected {
    background-color: rgba(0,0,0,0.1);
    border-color: rgba(0,0,0,0.3);
}

.ie8 .wpview-wrap.selected,
.ie7 .wpview-wrap.selected {
    background-color: #e5e5e5;
    border-color: #777;
}

.wpview-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.wpview-wrap.selected .wpview-overlay {
    display: none;
}

.wpview-wrap .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 100;
}

.wpview-wrap.selected .toolbar {
    display: block;
}

#wp-image-toolbar {
    position: absolute;
}

.wpview-wrap .toolbar div,
#wp-image-toolbar div {
    margin-top: 7px;
    margin-left: 7px;
    padding: 2px;
    width: 30px;
    height: 30px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    background-color: #000;
    background-color: rgba(0,0,0,0.9);
    cursor: pointer;
    color: white;
    font-size: 30px;
}

.ie8 .wpview-wrap .toolbar div,
.ie7 .wpview-wrap .toolbar div,
.ie8 #wp-image-toolbar div,
.ie7 #wp-image-toolbar div {
    display: inline;
    padding: 0;
}

.wpview-error {
    border: 1px solid #dedede;
    padding: 20px 0;
    margin: 0;
}

.selected .wpview-error {
    border-color: transparent;
}

.wpview-error .dashicons {
    display: block;
    margin: 0 auto;
    width: 32px;
    height: 32px;
    font-size: 32px;
}

.wpview-error p {
    margin: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.wpview-wrap .toolbar div:hover,
#wp-image-toolbar div:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,0.8);
    background-color: #000;
    color: #2ea2cc;
}
img::selection{
    background-color: transparent;
}