.ui-dialog {
    border: 1px solid #c5c5c5;
    background: #ffffff;
    color: #333333;
    z-index: 9999;
}
#icons-dialog {
    overflow-y: auto;
    overflow-x: hidden;
}
.ui-widget-overlay {
    background: #aaaaaa;
    opacity: .3;
    -ms-filter: Alpha(Opacity=30);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.icons-dialog .ui-dialog-content {
    padding: 0;
}
.icons-dialog .ui-dialog-titlebar {
    height: auto;
}
.icons-dialog .ui-icon-closethick {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icons-dialog .ui-dialog-titlebar-close:before {
    content: "\f00d";
    font: normal normal normal 14px/1 FontAwesome;
}
.icons-dialog .ui-dialog-title {
    display: none;
}
.icons-dialog .ui-dialog-titlebar-close {
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    right: 26px;
    top: 20px;
    padding: 10px;
}
.icons-dialog__search {
    padding: 25px 16px 0 16px;
}
.icons-dialog__row {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 8px 25px 8px;
    margin: 0 -8px;
    justify-content: center;
}
.icons-dialog__col {
    padding: 8px; height: 32px;  flex: 0 0 32px;
}
.icons-dialog__item {
    font-size: 18px;
    display: inline-block;
    width: 36px;
    height: 36px;
    box-sizing: border-box;
}
.icons-dialog__item.selected {
    background: #ffba00;
}
[data-icon] {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
[data-icon] .fa {
    font-size: 26px;
}
