.login {
    background-color: #fff;
}

.login #login_error, .login .message, .login .success {
    background: #efefef;
    color: #4d4d4d;
}

.login h1 a {
    background-image: url("../i/wpm_logo.png");
    width: 171px;
    background-size: contain;
    height: 183px;
}

.login form {
    border-radius: 5px;
    background: #fff;
    border: 1px solid #e3e3e3;
    padding: 50px;
}

.login form .input {
    width: 100%;
    height: auto;
    padding: 10px 10px 10px 40px;
    border: 1px solid #e7e7e7;
    font-size: 16px;
    line-height: 17px;
    min-height: unset;
    font-family: "PT Sans", sans-serif;
    color: #555;
}

.login form .input::placeholder {
    font-size: 16px;
    font-family: "PT Sans", sans-serif;
}

.login form .input:focus {
    box-shadow: none;
}

#login {
    max-width: 460px;
    width: 100%;
}

.login label:not([for="pw-weak"]) {
    display: none;
}

#loginform [type="submit"], #wp-submit {
    width: 100%;
    padding: 15px;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    height: auto;
    min-height: unset;
    line-height: 18px;
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
}

#loginform [type="submit"]:focus, #wp-submit:focus {
    box-shadow: none;
}

[name="lostpasswordform"] p:first-child, #loginform p:first-child {
    position: relative;
}

[name="lostpasswordform"] p:first-child:before, #loginform p:first-child:before {
    content: "\f007";
    display: block;
    position: absolute;
    left: 12px;
    top: 8px;
    color: #b5b5b5;
    font-family: "icomoon";
    font-size: 16px;
}

.wp-pwd:before {
    content: "\f023";
    display: block;
    position: absolute;
    left: 12px;
    top: 10px;
    color: #b5b5b5;
    font-family: "icomoon";
    font-size: 16px;
}

.forgetmenot {
    display: none;
}

.login #nav, .login #backtoblog, .login .language-switcher {
    display: none;
}
