/* review */
.wpm_review{
    display: block;
    margin: 10px auto;
    padding: 0;
    position: relative;
}
.wpm_review td.review_text{
    font: 16px/20px 'Tahoma';
    z-index: 10;
}
.wpm_review td{
    padding: 0!important;
    margin: 0!important;
}
/**/

table.wpm_review_1{
    width: 700px!important;
}
.wpm_review_1 .review_header{
    display: block;
    width: 700px;
    height: 105px;
    background: url("../i/static/review/1/header.png") center top no-repeat;
    z-index: 20;
}
.wpm_review_1 td.review_text{
    background: url("../i/static/review/1/body.png") center top repeat-y;
    padding: 0 50px!important;
    z-index: 10;
}
.wpm_review_1 td.review_text p{
    z-index: 30;
}
.wpm_review_1 .review_footer{
    display: block;
    width: 700px;
    height: 70px;
    background: url("../i/static/review/1/footer.png") center bottom no-repeat;
}

/**/
table.wpm_review_2{
    width: 700px!important;
}
.wpm_review_2 .review_header{
    display: block;
    width: 700px;
    height: 121px;
    background: url("../i/static/review/2/header.png") center top no-repeat;
    z-index: 20;
}
.wpm_review_2 .review_ribbon{
    display: block;
    width: 204px;
    height: 200px;
    position: absolute;
    top: 3px;
    left: 6px;
    background: url("../i/static/review/2/triangle.png");
    z-index: 20;
}
.wpm_review_2 td.review_text{
    background: url("../i/static/review/2/body.png") center top repeat-y;
    padding: 0 50px!important;
    z-index: 10;
}
.wpm_review_2 td.review_text p{
    z-index: 30;
}
.wpm_review_2 .review_footer{
    display: block;
    width: 700px;
    height: 50px;
    background: url("../i/static/review/2/footer.png") center bottom no-repeat;
}
/**/
table.wpm_review_3{
    width: 700px!important;
}
.wpm_review_3 .review_header{
    display: block;
    width: 700px;
    height: 103px;
    background: url("../i/static/review/3/header.png") center top no-repeat;
}
.wpm_review_3 .review_ribbon{
    display: block;
    width: 167px;
    height: 164px;
    position: absolute;
    top: 11px;
    left: 9px;
    background: url("../i/static/review/3/ribbon.png");
    z-index: 20;
}
.wpm_review_3 td.review_text{
    background: url("../i/static/review/3/body.png") center top repeat-y;
    padding: 0 50px!important;
}
.wpm_review_3 .review_footer{
    display: block;
    width: 700px;
    height: 97px;
    background: url("../i/static/review/3/footer.png") center bottom no-repeat;
}

/**/
table.wpm_review_4{
    width: 700px!important;
}
.wpm_review_4 .review_header{
    display: block;
    width: 700px;
    height: 96px;
    background: url("../i/static/review/4/header.png") center top no-repeat;
}
.wpm_review_4 td.review_text{
    background: url("../i/static/review/4/body.png") center top repeat-y;
    padding: 0 50px!important;
}
.wpm_review_4 .review_footer{
    display: block;
    width: 700px;
    height: 83px;
    background: url("../i/static/review/4/footer.png") center bottom no-repeat;
}
/**/
table.wpm_review_5{
    width: 700px!important;
}
.wpm_review_5 .review_header{
    display: block;
    width: 700px;
    height: 109px;
    background: url("../i/static/review/5/header.png") center top no-repeat;
}
.wpm_review_5 td.review_text{
    background: url("../i/static/review/5/body.png") center top repeat-y;
    padding: 0 50px!important;
}
.wpm_review_5 .review_footer{
    display: block;
    width: 700px;
    height: 69px;
    background: url("../i/static/review/5/footer.png") center bottom no-repeat;
}

/**/
table.wpm_review_6{
    width: 700px!important;
}
.wpm_review_6 .review_header{
    display: block;
    width: 700px;
    height: 111px;
    background: url("../i/static/review/6/header.png") center top no-repeat;
}
.wpm_review_6 td.review_text{
    background: url("../i/static/review/6/body.png") center top repeat-y;
    padding: 0 70px!important;
}
.wpm_review_6 .review_footer{
    display: block;
    width: 700px;
    height: 28px;
    background: url("../i/static/review/6/footer.png") center bottom no-repeat;
}
/**/
table.wpm_review_7{
    width: 700px!important;
}
.wpm_review_7 .review_header{
    display: block;
    width: 700px;
    height: 133px;
    background: url("../i/static/review/7/header.png") center top no-repeat;
}
.wpm_review_7 td.review_text{
    background: url("../i/static/review/7/body.png") center top repeat-y;
    padding: 0 50px!important;
}
.wpm_review_7 .review_footer{
    display: block;
    width: 700px;
    height: 50px;
    background: url("../i/static/review/7/footer.png") center bottom no-repeat;
}

/**/
table.wpm_review_8{
    width: 700px!important;
}
.wpm_review_8 .review_header{
    display: block;
    width: 700px;
    height: 83px;
    background: url("../i/static/review/8/header.png") center top no-repeat;
}
.wpm_review_8 td.review_text{
    background: url("../i/static/review/8/body.png") center top repeat-y;
    padding: 0 50px!important;
}
.wpm_review_8 .review_footer{
    display: block;
    width: 700px;
    height: 70px;
    background: url("../i/static/review/8/footer.png") center bottom no-repeat;
}
/**/
table.wpm_review_9{
    width: 700px!important;
}
.wpm_review_9 .review_header{
    display: block;
    width: 700px;
    height: 94px;
    background: url("../i/static/review/9/header.png") center top no-repeat;
}
.wpm_review_9 td.review_text{
    background: url("../i/static/review/9/body.png") center top repeat-y;
    padding: 0 50px!important;
}
.wpm_review_9 .review_footer{
    display: block;
    width: 700px;
    height: 72px;
    background: url("../i/static/review/9/footer.png") center bottom no-repeat;
}
/**/
table.wpm_review_10{
    width: 700px!important;
}
.wpm_review_10 .review_header{
    display: block;
    width: 700px;
    height: 167px;
    background: url("../i/static/review/10/header.png") center top no-repeat;
}
.wpm_review_10 td.review_text{
    background: url("../i/static/review/10/body.png") center top repeat-y;
    padding: 0 50px!important;
}
.wpm_review_10 .review_footer{
    display: block;
    width: 700px;
    height: 89px;
    background: url("../i/static/review/10/footer.png") center bottom no-repeat;
}
.response-reviews {
    clear: both;
    padding-top: 15px;
}