.ui-timepicker-div {
    position: absolute !important;
}
.ui-timepicker-table > tbody > tr > td:nth-child(2){
    border-left: 1px solid #cccccc;
}
.ui-timepicker-hours, .ui-timepicker-minutes{
    padding: 5px 10px!important;
}
.countdown-settings{
    font: 13px "Open Sans", sans-serif;
}
.countdown-settings label{
}
.c-colors{
    margin: 20px 0;
}
.c-colors > .c-color{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 5px solid transparent;
}
.c-colors > .c-color input{
    display: none;
}
.c-date-time-wrap label{
    margin-right: 30px;
}

.c-colors .color-1{
    background-color: #c91819;
}
.c-colors .color-2{
    background-color: #59b0e9;
}
.c-colors .color-3{
    background-color: #ffd242;
}
.c-colors .color-4{
    background-color: #548301;
}
.c-colors .color-5{
    background-color: #fc8122;
}
.c-colors .color-6{
    background-color: #004c8b;
}
.c-colors .color-7{
    background-color: #7f3eb4;
}
.c-colors .color-8{
    background-color: #222222;
}
.c-tabs .ui-tabs-panel{
    margin: 10px 0;
}


.c-design > label{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 260px auto;
}

/* color 1 */
.color-1 .c-design-1{
    background-image: url('../i/timer/50/1/1.png');
}
.color-1 .c-design-2{
    background-image: url('../i/timer/50/2/1.png');
}
.color-1 .c-design-3{
    background-image: url('../i/timer/50/3/1.png');
}
.color-1 .c-design-4{
    background-image: url('../i/timer/50/4/1.png');
}
.color-1 .c-design-5{
    background-image: url('../i/timer/50/5/1.png');
}
.color-1 .c-design-6{
    background-image: url('../i/timer/50/6/1.png');
}
.color-1 .c-design-7{
    background-image: url('../i/timer/50/7/1.png');
}
.color-1 .c-design-8{
    background-image: url('../i/timer/50/8/1.png');
}
/* color 2 */
.color-2 .c-design-1{
    background-image: url('../i/timer/50/1/2.png');
}
.color-2 .c-design-2{
    background-image: url('../i/timer/50/2/2.png');
}
.color-2 .c-design-3{
    background-image: url('../i/timer/50/3/2.png');
}
.color-2 .c-design-4{
    background-image: url('../i/timer/50/4/2.png');
}
.color-2 .c-design-5{
    background-image: url('../i/timer/50/5/2.png');
}
.color-2 .c-design-6{
    background-image: url('../i/timer/50/6/2.png');
}
.color-2 .c-design-7{
    background-image: url('../i/timer/50/7/2.png');
}
.color-2 .c-design-8{
    background-image: url('../i/timer/50/8/2.png');
}
/* color 3 */
.color-3 .c-design-1{
    background-image: url('../i/timer/50/1/3.png');
}
.color-3 .c-design-2{
    background-image: url('../i/timer/50/2/3.png');
}
.color-3 .c-design-3{
    background-image: url('../i/timer/50/3/3.png');
}
.color-3 .c-design-4{
    background-image: url('../i/timer/50/4/3.png');
}
.color-3 .c-design-5{
    background-image: url('../i/timer/50/5/3.png');
}
.color-3 .c-design-6{
    background-image: url('../i/timer/50/6/3.png');
}
.color-3 .c-design-7{
    background-image: url('../i/timer/50/7/3.png');
}
.color-3 .c-design-8{
    background-image: url('../i/timer/50/8/3.png');
}

/* color 4 */
.color-4 .c-design-1{
    background-image: url('../i/timer/50/1/4.png');
}
.color-4 .c-design-2{
    background-image: url('../i/timer/50/2/4.png');
}
.color-4 .c-design-3{
    background-image: url('../i/timer/50/3/4.png');
}
.color-4 .c-design-4{
    background-image: url('../i/timer/50/4/4.png');
}
.color-4 .c-design-5{
    background-image: url('../i/timer/50/5/4.png');
}
.color-4 .c-design-6{
    background-image: url('../i/timer/50/6/4.png');
}
.color-4 .c-design-7{
    background-image: url('../i/timer/50/7/4.png');
}
.color-4 .c-design-8{
    background-image: url('../i/timer/50/8/4.png');
}
/* color 5 */
.color-5 .c-design-1{
    background-image: url('../i/timer/50/1/5.png');
}
.color-5 .c-design-2{
    background-image: url('../i/timer/50/2/5.png');
}
.color-5 .c-design-3{
    background-image: url('../i/timer/50/3/5.png');
}
.color-5 .c-design-4{
    background-image: url('../i/timer/50/4/5.png');
}
.color-5 .c-design-5{
    background-image: url('../i/timer/50/5/5.png');
}
.color-5 .c-design-6{
    background-image: url('../i/timer/50/6/5.png');
}
.color-5 .c-design-7{
    background-image: url('../i/timer/50/7/5.png');
}
.color-5 .c-design-8{
    background-image: url('../i/timer/50/8/5.png');
}
/* color 6 */
.color-6 .c-design-1{
    background-image: url('../i/timer/50/1/6.png');
}
.color-6 .c-design-2{
    background-image: url('../i/timer/50/2/6.png');
}
.color-6 .c-design-3{
    background-image: url('../i/timer/50/3/6.png');
}
.color-6 .c-design-4{
    background-image: url('../i/timer/50/4/6.png');
}
.color-6 .c-design-5{
    background-image: url('../i/timer/50/5/6.png');
}
.color-6 .c-design-6{
    background-image: url('../i/timer/50/6/6.png');
}
.color-6 .c-design-7{
    background-image: url('../i/timer/50/7/6.png');
}
.color-6 .c-design-8{
    background-image: url('../i/timer/50/8/6.png');
}
/* color 7 */
.color-7 .c-design-1{
    background-image: url('../i/timer/50/1/7.png');
}
.color-7 .c-design-2{
    background-image: url('../i/timer/50/2/7.png');
}
.color-7 .c-design-3{
    background-image: url('../i/timer/50/3/7.png');
}
.color-7 .c-design-4{
    background-image: url('../i/timer/50/4/7.png');
}
.color-7 .c-design-5{
    background-image: url('../i/timer/50/5/7.png');
}
.color-7 .c-design-6{
    background-image: url('../i/timer/50/6/7.png');
}
.color-7 .c-design-7{
    background-image: url('../i/timer/50/7/7.png');
}
.color-7 .c-design-8{
    background-image: url('../i/timer/50/8/7.png');
}
/* color 8 */
.color-8 .c-design-1{
    background-image: url('../i/timer/50/1/8.png');
}
.color-8 .c-design-2{
    background-image: url('../i/timer/50/2/8.png');
}
.color-8 .c-design-3{
    background-image: url('../i/timer/50/3/8.png');
}
.color-8 .c-design-4{
    background-image: url('../i/timer/50/4/8.png');
}
.color-8 .c-design-5{
    background-image: url('../i/timer/50/5/8.png');
}
.color-8 .c-design-6{
    background-image: url('../i/timer/50/6/8.png');
}
.color-8 .c-design-7{
    background-image: url('../i/timer/50/7/8.png');
}
.color-8 .c-design-8{
    background-image: url('../i/timer/50/8/8.png');
}

/**/
.countdown-settings .wppage_checkbox{
    border: none!important;
}
.countdown-settings .wppage_checkbox.wppage_checked{
    border: none!important;
    background-position: bottom left !important;
}
.c-type-tabs .tab{
    display: none;
}
#count-down-tabs-1{
    display: block;
}
#TB_ajaxContent p{
    margin: 0!important;
    padding: 5px 0!important;
}