# macOS
.DS_Store

# Logs
logs/
*.log

# Environment
.env
*.env

# Archives
*.zip

# Local backups / old files
old/

# WordPress
wp-config.php

# IDE
.idea/
.vscode/

# SFTP-connection settings
sftp-config.json

# secret files
wp-secrets.php
