/* loader-ellipse
------------------------- */
@keyframes reveal {
  from {
    transform: scale(0.001);
  }
  to {
    transform: scale(1);
  }
}

@keyframes slide {
  to {
    transform: translateX(1.5em);
  }
}

.loader-ellipse {
  font-size: 20px;
  position: relative;
  width: 4em;
  height: 1em;
  margin: 10px auto;

  &__dot {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    background: #555;
    position: absolute;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;

    &:nth-child(1) {
      left: 0;
      animation-name: reveal;
    }

    &:nth-child(2) {
      left: 0;
      animation-name: slide;
    }

    &:nth-child(3) {
      left: 1.5em;
      animation-name: slide;
    }

    &:nth-child(4) {
      left: 3em;
      animation-name: reveal;
      animation-direction: reverse;
    }
  }

  &.small {
    font-size: 10px;

    .loader-ellipse__dot {
      &:nth-child(3) {
        left: 1em;
      }

      &:nth-child(4) {
        left: 2em;
      }
    }
  }
}

#mblp-status-loader {
  margin-top: 150px;
}

.mblr-loader-holder {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, .5);
  display: flex;
  align-items: center;
}