.sv-title {
    margin: 0 0 10px!important;
    font-size: 16px!important;
}

.sv-group {
    display: flex;
    column-gap: 20px
}

.sv-hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

.sv-btn {
    display: inline-block;
    box-sizing: border-box;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.3;
    border-radius: 4px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    text-decoration: none;
}

.sv-btn--primary {
    --mbl-btn-color: #fff;
    --mbl-btn-bgcolor: #007bff;
    color: var(--mbl-btn-color);
    background-color: var(--mbl-btn-bgcolor);
    border-color: var(--mbl-btn-bgcolor);
}

.sv-btn--primary:hover, .sv-btn--primary:active, .sv-btn--primary:focus {
    --mbl-btn-color: #fff;
    --mbl-btn-bgcolor: #007bff;
    color: var(--mbl-btn-color);
    background-color: var(--mbl-btn-bgcolor);
    border-color: var(--mbl-btn-bgcolor);
    opacity: 0.8;
}
