[x-cloak] {
    display: none;
}

.sv-nav-tabs {
    margin-top: 1rem;
}

.sv-tabs {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    border-bottom: 1px solid #dee2e6;
}

.sv-tabs__item {
    display: block;
    padding: 0.5rem 1rem;
    margin-bottom: -1px;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    text-decoration: none;
    cursor: pointer;
    color: #000;
    background-color: transparent;
}

.sv-tabs__item:hover {
    text-decoration: none;
    border-color: #e9ecef #e9ecef #dee2e6;
}

.sv-tabs__item--active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.sv-tab-content {
    padding-top: 16px;
}

.sv-tab-pane {

}

.sv-form-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.sv-col-12 {
    position: relative;
    width: 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 5px;
    padding-left: 5px;
}

.sv-form-control {
    display: block;
    width: 100%;
    height: 38px;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    box-sizing: border-box;
}

.sv-form-group {
    margin-bottom: 1rem;
}

.sv-label {
    display: inline-block;
    margin-bottom: 8px;
    font-size: 16px;
}

.text-danger {
    color: #dc3545;
}

.sv-btn {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    text-transform: uppercase;
    padding: 11px 12px !important;
    margin-top: 18px;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 4px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.sv-btn--primary {
    color: var(--mbl-btn-color);
    background-color: var(--mbl-btn-bgcolor);
    border-color: var(--mbl-btn-bgcolor);
}

.sv-btn--primary:hover, .sv-btn--primary:active, .sv-btn--primary:focus {
    color: var(--mbl-btn-color);
    background-color: var(--mbl-btn-bgcolor);
    border-color: var(--mbl-btn-bgcolor);
    opacity: 0.8;
}

@keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}

.spinner-border-sm {
    width: 1rem;
    height: 1rem;
    border-width: 0.2em;
}

.spinner-border {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
    border: 2px solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
    box-sizing: border-box;
}

.sv-tab-content .sv-form-control {
    background: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.certificate-search-result {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid #ddd;
    border-spacing: 0;
    border-collapse: collapse;
}

.certificate-search-result__heading {
    color: var(--mbl-btn-color);
    background-color: var(--mbl-btn-bgcolor);
}

.certificate-search-result th, .certificate-search-result td {
    font-size: 16px;
    text-align: center;
    font-weight: normal;
    font-style: normal;
}

.certificate-search-result > caption + thead > tr:first-child > th,
.certificate-search-result > colgroup + thead > tr:first-child > th,
.certificate-search-result > thead:first-child > tr:first-child > th,
.certificate-search-result > caption + thead > tr:first-child > td,
.certificate-search-result > colgroup + thead > tr:first-child > td,
.certificate-search-result > thead:first-child > tr:first-child > td {
    border-top: 0;
}

.certificate-search-result > thead > tr > th,
.certificate-search-result > tbody > tr > th,
.certificate-search-result > tfoot > tr > th,
.certificate-search-result > thead > tr > td,
.certificate-search-result > tbody > tr > td,
.certificate-search-result > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border: 1px solid #ddd;
}

.certificate-search-result > thead > tr > th, .certificate-search-result > thead > tr > td {
    border-bottom-width: 2px;
}

.was-validated .sv-form-control:invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.was-validated .sv-form-control:valid {
    border-color: #28a745;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.was-validated .form-control:valid {
    background-image: none;
}

.mblc-alert {
    font-size: 16px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.mblc-alert--success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.mblc-alert--warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
