html{
  font-size: $base-font-size;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

body{
  display: flex;
  display: -ms-flexbox;
  min-height: 100vh;
  flex-direction: column;
  -ms-flex-direction: column;
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  font-family: $base-font-family;
  color: $dark-text-color;
  background-color: #fff;
  //background-image: url('../images/assets/bg-1.jpg');
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  &.mobile-menu-in{
    //overflow: hidden;
  }
  &.fix-top-nav{
    // padding-top: 49px;
  }

}
a{
  @include transition(all 0.2s ease-out);
  text-decoration: none;
  color: #5395bc;
  &:hover,
  &:focus,
  &:active{
    text-decoration: none;
    outline: none;
    color: #328fc3;
  }
}
img{
  max-width: 100%;
  height: auto;
}
label{
  font-weight: normal;
}

.container{
  @include respond-to('xs'){
    max-width: 370px;
  }
}

.site-content{
  // padding-top: 50px;
  flex: 1 0 0;
  -ms-flex: 1 0 0;
  z-index: 500;
}


//----
.header-row{
  z-index: 800;
}
//----

.top-nav-row{
  background: #f9f9f9;
  border-bottom: 1px solid #e7e7e7;
  position: relative;
  color: #868686;
  z-index: 600;
  a{
    color: #868686;
  }
  .user-profile-humbnail{
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    overflow: hidden;
    vertical-align: middle;
    margin-right: 10px;
  }
  a.nav-item,
  .dropdown > a{
    font-size: 1.7rem;
    line-height: 1.8rem;
  }

  .nav-item{
    display: inline-block;
    padding: 15px;
    margin: 0;
    white-space: nowrap;
    &.dropdown{
      padding: 0;
      & > button{
        padding: 15px;
      }
    }

    &.user-profile-button{
      margin-right: 0;
      white-space: nowrap;
      & > button{
        padding: 8px 15px 8px 12px;
      }
      &:hover,
      &.open{
        background: #efefef;
        button{
          color: #000;
        }
      }
      .dropdown-menu{
        right: 0;
        left: auto;
        min-width: 100%;
      }
    }
    &.user-login-button{
      &.open, &:hover{
        background: #efefef;
        color: #2e2e2e;
      }
    }
    &.user-registration-button{
      &.open, &:hover{
        background: #efefef;
        color: #2e2e2e;
      }
    }
    &:hover{
      color: #2e2e2e;
    }
    .iconmoon {
      font-size: 1.3rem;
      margin-right: 10px;
    }
    .icon-home{
      font-size: 1.6rem;
    }
  }
  .dropdown-button{
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.8rem;
    padding: 15px;
    margin: 0;
    white-space: nowrap;
    cursor: pointer;
    &.user-profile-dropdown-button{
      display: inline-flex;
      align-items: center;
      padding: 10px 15px 9px;
    }
  }

}
.dropdown-menu{
  border: 0;
  border-radius: 0;
  background: #efefef;
  box-shadow: none;
  padding: 0;
  margin: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
  font-size: 1.6rem;
  li{
    display: block;
    border-bottom: 1px solid #dedede;
    &:last-child{
      border-bottom: none;
    }
    a{
      display: block;
      padding: 15px;
      color: #939393;
      &:hover{
        color: #2e2e2e;
        background: #f0f0f0;
      }
    }
  }
}
.mbl-dropdown-menu{
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  text-align: left;
  list-style: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  border: 0;
  border-radius: 0;
  background: #efefef;
  box-shadow: none;
  padding: 0;
  margin: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: visible;
  font-size: 1.6rem;
  li{
    display: block;
    border-bottom: 1px solid #dedede;
    &:last-child{
      border-bottom: none;
    }
    a{
      display: block;
      padding: 15px;
      color: #939393;
      &:hover{
        color: #2e2e2e;
        background: #f0f0f0;
      }
    }
  }
}
.dropdown-panel{
  padding: 30px;
  min-width: 320px;
  .dropdown-panel-header{
    margin-bottom: 20px;
    .close-dropdown-panel{
      text-transform: uppercase;
      .close-button{
        margin-left: 10px;
      }
    }
  }
  .form-group{

    input[type=text],
    input[type=email],
    input[type=password],
    textarea{
      width: 100%;
      padding: 9px 12px;
      border: 0;
    }
    &.form-icon{
      input[type=text],
      input[type=email],
      input[type=password],
      textarea{
        padding-left: 30px;
      }
    }
    &:before{
      left: 8px;
      top: 7px;
    }
  }

}
.dropdown-backdrop{

  display: none!important;
}
//------

.file-attachment-button{
  cursor: pointer;
  .iconmoon{
    margin-right: 5px;
  }
  .help-link{
    color: #5d95be;
    border-bottom: 1px dashed #5d95be;
    margin-right: 30px;
    padding: 0;
    border-radius: 0;
    @include respond-to('xs'){
      margin-right: 15px;
    }
  }
  input{
    width: .01px;
    height: .01px;
    overflow: hidden;
    float: left;
  }
  .selected-file-name{
    white-space: nowrap;
  }
}

//--- form
form{
  input[type=text],
  input[type=email],
  input[type=password],
  textarea{
    border: 0;
    border-radius: 0;
    background: #fff;
    outline: none;

  }
  textarea{
    width: 100%;
    padding: 15px;
    min-height: 50px;
  }

  .form-fields-group{
    margin-bottom: 30px;

    p.status {
      white-space: normal;
    }

    .g-recaptcha {
      position: relative;
      top: 6px;
      > div {
        margin: auto;
      }
    }
  }
  .form-group{
    position: relative;
    margin-bottom: 15px;
  }
  .mbr-btn{
    display: block;
    width: 100%;
  }
}

//-----

.form-group{
  //---- form input icons
  input.form-control,
  textarea.form-control,
  input[type=text],
  input[type=password],
  input[type=email]{
    display: block;
    width: 100%;
    height: auto;
    padding: 10px 10px 10px 40px;
    border: 1px solid #e7e7e7;
    line-height: 1.7rem;
    font-size: 1.6rem;
  }
}
.form-icon{
  input[type=text],
  input[type=password],
  input[type=email]{
    padding-left: 35px;
  }

  input{
    padding-left: 35px;
    outline: none!important;
    box-shadow: none!important;
    font-family: $base-font-family;
  }
  &:before{
    display: block;
    position: absolute;
    left: 12px;
    top: 8px;
    color: #b5b5b5;
    font-family: 'icomoon';
  }
  &.form-icon-user:before{
    content: "\f007";
  }
  &.form-icon-email:before{
    content: "\f0e0";
  }
  &.form-icon-phone:before{
    content: "\f095";
  }
  &.form-icon-lock:before{
    content: "\f023";
  }
  &.form-icon-key:before{
    content: "\f084";
  }
  &.form-icon-pencil:before{
    content: "\f040";
  }
}



//------ mobile menu
.mobile-menu-row{
  visibility: hidden;
  position: absolute;
  top: 53px;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 801;
  &.visible{
    visibility: visible;
    opacity: 1;
    @include respond-to('md'){
      visibility: hidden;
      opacity: 0;
    }
    @include respond-to('lg'){
      visibility: hidden;
      opacity: 0;
    }
  }
}

.mobile-menu{
  list-style: none;
  padding: 0;
  margin: 0;
  color: #868686;
  background: #efefef;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
  .menu-item{
    border-bottom: 1px solid #dedede;
    &:last-child{
      border-bottom: none;
    }
    & > a{
      font-size: 1.5rem;
      color: #868686;
      display: block;
      padding: 15px;
      margin: 0;
      cursor: pointer;
      .iconmoon{
        color: #a5a5a5;
        margin-right: 10px;
      }
      &.active{
        padding: 15px 15px;
        background: #f0f0f0;
        color: #000;
        .iconmoon{
          color: #000;
        }
      }
    }
    .panel-toggler{
      .close-button{
        display: none;
        float: right;
        width: 24px;
        height: 24px;
        line-height: 2.5rem;
        font-size: 1.2rem;
        cursor: pointer;
      }
      &.active{
        .close-button{
          display: block;
        }
      }
    }
  }
  .slide-down-wrap{
    display: none;
    position: relative;
    padding: 15px 15px 30px;
    margin: 0;
    background: #f0f0f0;
  }
}
//------

.mobile-menu-button{
  border: 0;
  background: transparent;
  padding: 0;
  padding: 14px 20px;
  outline: none!important;
  .line{
    display: block;
    width: 20px;
    height: 2px;
    margin-bottom: 4px;
    background: #2e2e2e;
    //@include transition;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &.active{
    background: #efefef;
    .line-1{
      transform: translateY(6px) rotate(45deg);
    }
    .line-2{
      opacity: 0;
    }
    .line-3{
      transform: translateY(-6px) rotate(-45deg);
    }
  }
}
//------

.close-button{
  display: inline-block;
  color: #fff;
  background-color: #c1c1c1;
  width: 34px;
  height: 34px;
  font-size: 1.4rem;
  line-height: 3.4rem;
  text-align: center;
  right: 15px;
  cursor: pointer;
  @include transition;
  &:hover{
    background-color: #d4d4d4;
    color: #fff;
  }
  &:active{
    background-color: #b4b4b4;
    color: #fff;
  }
}
.helper-link{
  color: #8f8f8f;
  border-bottom: 1px dashed #8f8f8f;
}
.brand-row{
  display: block;
  padding: 15px 0;
  background: no-repeat center center;
  position: relative;
  z-index: 500;
  .flex-logo-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    span.wpm_default_header,
    a.wpm_default_header{
      .brand-logo{
        display: block;
        margin: 0 auto;
        width: auto;
        max-width: 100%;
        max-height: 200px;
      }
    }
  }
}



//--- seach row
.top-nav-row--inner{
  display: flex;
}
.search-hint-form{
  flex-grow: 1;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  background: #f9f9f9;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-bottom: none;
  overflow: hidden;
  //@include transition;
  .form{
    padding: 0;
    margin: 0;
    opacity: 0;
    width: 0;
    position: relative;
    overflow: hidden;
    //flex-grow: 1;
    display: flex;
    //@include transition;
    .search-input-icon{
      padding: 15px 0;
      width: 20px;
      text-align: center;
      font-size: 1.6rem;
      border: 0;
      background: transparent;
      outline: none;
      //@include transition;
      &:hover{
        color: #2e2e2e;
        @include respond-to('xs'){
          color: #868686;
        }
        @include respond-to('sm'){
          color: #868686;
        }
      }
    }
    .search-hint-input{
      flex-grow: 1;
      padding: 0 15px;
      margin: 15px 0;
      outline: none;
      color: #000;
      box-sizing: border-box;
      max-width: calc(100% - 20px);
      //@include transition;
    }
  }
  .search-toggle-button{
    padding: 15px 0!important;
    margin: 0 15px;
    text-align: center;
    cursor: pointer;
    @include transition('color .2s ease');
    &.active{
      background: #fff;
      //color: #2e2e2e;
    }
    &:hover{
      @include respond-to('xs'){
        color: #868686;
      }
      @include respond-to('sm'){
        color: #868686;
      }
    }
    .iconmoon{
      margin-right: 0;
      font-size: 1.6rem;
      line-height: 2rem;
    }
  }
  &.active{
    background: #fff;
    border: 1px solid #ededed;
    border-bottom: none;
    .form{
      width: 100%;
      opacity: 1;
    }
  }
}

//----- page title
.page-title-row{
  margin-top: 40px;
  .page-title{
    font-size: 2rem;
    font-weight: normal;
    color: #000;
    margin: 0 0 10px;
  }
  .page-description{
    font-size: 1.6rem;
    color: #949494;
    margin: 0 0 10px;
  }
  .page-description-content{
    display: block;
    border-color: #fff;
    max-width: 732px;
    margin: 10px auto;
    @include transition;
    &.visible{
      background: #fbfbfb;
      border: 1px solid #e3e3e3;
      border-radius: 3px;
      padding: 20px 0;
      .content{
        opacity: 1;
      }
    }
    .toggle-category-description-button{
      &.active{
        @include transition;
        border-color: transparent !important;
        box-shadow: none;
        /*text-transform: uppercase;
        .iconmoon{
        display: inline-block;
        color: #fff;
        background-color: #c1c1c1;
        width: 34px;
        height: 34px;
        font-size: 1.4rem;
        line-height: 3.4rem;
        text-align: center;
      }*/
    }

  }
  .content{
    max-width: 730px;
    margin: 0 auto;
    display: none;
    padding: 20px 30px;
    opacity: 0;
    text-align: left;
    @include transition(opacity .2s ease);
    @include respond-to('xs'){
      width: 100%;
      padding: 20px;
    }
  }
}
}




//--------
.big-search{
  max-width: 780px;
  margin: 30px auto 0;
  position: relative;

  .search-hint-input{
    border: 1px solid #e7e7e7;
    padding: 10px 50px 10px 20px;
    font-size: 2rem;
    width: 100%;
  }
  .icon-search{
    position: absolute;
    right: 10px;
    top: 10px;
    border: 0;
    background: transparent;
    font-size: 2.4rem;
    color: #e7e7e7;
    outline: none;
    @include transition;
    &:hover{
      color: #ddd;
    }
  }
}

//--------

.nav-tabs{
  margin: 0;
  padding: 0;
  li{
    a{
      color: #9b9b9b;
      font-size: 1.7rem;
      @include respond-to('xs'){
        font-size: 1.6rem;
      }
    }
  }
}


.tab-pane{
  .content{
    padding: 40px 0 30px;
  }
}
.page-content-wrap{
  padding: 40px 0 50px;
}

//-------

.bordered-tabs{
  .nav-tabs{
    position: relative;
    border-bottom: none;
    vertical-align: top;
    height: 46px;
    margin-bottom: -2px;
    z-index: 20;
    li{
      float: none;
      display: inline-block;
      a{
        color: #9b9b9b;
        text-align: center;
        background: #efefef;
        border-bottom: none;
        transition: none!important
      }
      &.tab-1{
        a{
          height: 44px;
        }
      }
      &.tab-2{
        a{
          height: 42px;
        }
      }
      &.tab-3{
        a{
          height: 40px;
        }
      }
      &.active{
        a{
          height: 45px;
          background: #fff;
          color: #555;
          border-bottom: none;
        }

      }
      .tab-label{
        color: #9b9b9b;
        font-weight: normal;
      }
    }
    .iconmoon{
      margin-right: 5px;
    }
  }
  .tab-content{
    position: relative;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #e3e3e3;
    //overflow: hidden;
    &:before,
    &:after{
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 3px;
      top: -3px;
      border-radius: 5px;
      border: 1px solid #e3e3e3;
      background: #fbfbfb;
      z-index: -1;
      @include respond-to('xs'){
        width: calc(100% - 12px);
        height: 100%;
        left: 6px;
        top: -3px;
      }
    }
    &:after{
      left: 5px;
      top: -5px;
      z-index: -2;
      @include respond-to('xs'){
        width: calc(100% - 24px);
        height: 100%;
        left: 12px;
        top: -5px;
      }
    }
    .tab-pane{
      padding: 30px;
      border-radius: 5px;
      &.lesson-tasks{
        padding: 30px 30px 25px;
        @include respond-to('xs'){
          padding: 25px 15px 5px;
        }
      }
      @include respond-to('xs'){
        padding: 25px 15px;
      }
    }
  }
  &.tabs-count-1{
    .tab-content{
      &:before,
      &:after{
        display: none;
      }
    }
  }
  &.tabs-count-2{
    .tab-content{
      &:after{
        display: none;
      }
    }
  }
  &.tabs-count-3{

  }
}
// ---- uploads for comments, homework
.fileupload-progress{
  max-width: none!important;
}
.wpm-fileupload{
  .template-download,
  .template-upload{
    td:last-child{
      text-align: right;
    }
    &:nth-child(odd){
      background: transparent;
      td{
        background: rgba(249, 249, 249, 0.67);
        &:first-child{
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }
        &:last-child{
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }
      }
    }
    .preview{
      display: flex;
      align-items: center;
      width: 40px;
      height: 40px;
      overflow: hidden;
      img,
      .fa{
        font-size: 40px;
        line-height: 40px;
      }
    }
    .name,
    .size{
      padding: 0 5px;
      font-size: 1.2rem;
      @include respond-to('md'){
        font-size: 1.4rem;
      }
      @include respond-to('md'){
        font-size: 1.6rem;
      }
      @include respond-to('lg'){
        font-size: 1.6rem;
      }
    }
    .delete.mbr-btn,
    .cancel.mbr-btn{
      display: inline-block!important;
      width: auto!important;
      font-size: 1.4rem;
      text-transform: none;
      color: #eb0000;
      border-radius: 3px;
      padding: 0 10px!important;
      margin: 0!important;
      background-color: transparent;
      &:hover{
        color: #6c0000;
      }
      @include respond-to('md'){
        font-size: 1.4rem;
      }
      @include respond-to('md'){
        font-size: 1.6rem;
      }
      @include respond-to('lg'){
        font-size: 1.6rem;
      }
    }
    .cancel.mbr-btn{
      color: #acacac;
      &:hover{
        color: #929292;
      }
    }
  }
}


//---- file upload progress
.ui-progressbar{
  max-width: none!important;
  width: 100%!important;
  border: none!important;
  background: #F5F5F5!important;
  height: 5px!important;
  border-radius: 2.5px!important;
  margin: 10px 0;
  .ui-progressbar-value{
    background: #65BF49!important;
  }
}

//---- footer
.footer-row{
  background: #f9f9f9;
  border-top: 1px solid #e7e7e7;
  color: #929292;
  padding: 14px 0;
  z-index: 500;
}

//-----
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src$=".svg"] {
    width: 100%;
  }
}

//------ grid
.grid-4{
  & > div{
    @include respond-to('lg'){
      @include grid-float-fix(4);
    }
    @include respond-to('md'){
      @include grid-float-fix(4);
    }
    @include respond-to('sm'){
      @include grid-float-fix-reset(4);
      @include grid-float-fix-reset(3);
      @include grid-float-fix(2);
    }


  }
}
.grid-3{
  & > div{
    @include respond-to('lg'){
      @include grid-float-fix(3);
    }
    @include respond-to('md'){
      @include grid-float-fix(3);
    }
    @include respond-to('sm'){
      @include grid-float-fix-reset(3);
      @include grid-float-fix(2);
    }


  }
}
.grid-2{
  & > div{
    @include respond-to('md'){
      @include grid-float-fix(2);
    }
    @include respond-to('lg'){
      @include grid-float-fix(2);
    }
  }
}

.mbl-remember-row.form-group {
  margin-bottom: 0;
}
.mbl-user-agreement-row {
  text-align: center;
  margin-top: 10px;
  a, a:visited {
    color: #949494;
    display: inline-block;
    position: relative;
    top: 5px;

    &:focus,
    &:active,
    &:hover {
      color: #4a4a4a;
    }
  }
}
.wpm_generate_pin_code_button,
#wpm_generate_pin_code_button {
  margin-top: 3px;
  color: #868686;
  display: inline-block;
  border-bottom: 1px dashed #868686;
  text-decoration: none;
  box-sizing: border-box;
  height: 21px;
  &:active, &:visited {}
  &:hover {
    border-bottom: none;
    text-decoration: none;
    color: #999999;
  }
}
.input-loader {
  display: none;
  width: 30px;
  height: 30px;
  background: url(../images/input-spinner.gif) no-repeat;
  position: absolute;
  margin-top: -33px;
  right: 5px;
}
.wpm-pin-code-row {
  text-align: center;
}
.pin-code-error {
  display:none;
  color:#990000;
}
.wpm-registration-form {
  .result {
    display: none;
    margin-top: 20px;
  }
  .user-agreement {
    label {
      cursor: pointer;
      color: #2e2e2e;
      a, a:visited {
        color: #949494;
        &:focus,
        &:active,
        &:hover {
          color: #4a4a4a;
        }
      }
    }
  }
}
.aligncenter {
  display: block;
  float: none;
  clear: both;
  text-align: center;
  margin: 10px auto;
}
.clear, .clearfix {
  clear: both;
}
.fancybox-opened {
  z-index: 99999;
}
.iconmoon.icon-search {
  padding-left: 1px;
}
.note-editable.panel-body {
  a {
    color: #5395bc;
  }
}

/**/
.progress{
  background-color: #e8ebee!important;
  box-shadow: none!important;
  .progress-bar{
    box-shadow: none!important;
  }
}

.wpm-ask-result p {
    text-align: center;
    position: relative;
    top: 20px;
}

#mbl_login_backdrop {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000;
  opacity: .6;
  z-index: 799;

  &.active {
    display: block;
  }
}
