.alignleft {
    display: block;
    float: left;
    margin: 5px 15px 5px 0;
    clear: right;
}

.alignright {
    display: block;
    float: right;
    margin: 5px 0 5px 15px;
    clear: left;
}

.aligncenter {
    display: block;
    float: none;
    clear: both;
    text-align: center;
    margin: 10px auto;
}

.no_border, object {
    display: block;
    border: none !important;
    padding: 0 !important;
    margin: 0 auto;
}

.folders-row{
    margin: 30px 0 40px;
}
.folder-wrap{
    position: relative;
    cursor: pointer;
    margin: 20px 0;
    display: block;
    transition: none!important;
    &.folder-with-files{
        @include respond-to('xlg'){
            width: 312.5px;
            height: 282px;
            margin-top: 24px;
            .folder-front{
                width: 312.5px;
                height: 236.11px;
            }
        }
        @include respond-to('mlg'){
            width: 262.5px;
            height: 237px;
            .folder-front{
                width: 262.5px;
                height: 198.33px;
            }
        }
        @include respond-to('md'){
            width: 293.33px;
            height: 265px;
            margin-top: 22px;
            .folder-front{
                width: 293.33px;
                height: 221.63px;
            }
        }
        @include respond-to('sm'){
            width: 345px;
            height: 310px;
            margin-top: 28px;
            .folder-front{
                width: 345px;
                height: 260.66px;
            }
        }
        @include respond-to('xsl'){
            margin: 27px auto 20px;
            width: 340px;
            height: 306px;
            .folder-front{
                width: 340px;
                height: 256.88px;
            }
        }
        @include respond-to('xsm'){
            margin: 21px auto 20px;
            width: 290px;
            height: 262px;
            .folder-front{
                width: 290px;
                height: 219.11px;
            }
        }
    }
    &.folder-with-subfolders{
        @include respond-to('xlg'){
            width: 312.6px;
            height: 286px;
            .folder-sub-front{
                width: 312.5px;
                height: 265.47px;
            }
            .folder-sub{
                width: 296.5px;
                height: 273.95px;
            }
            .folder-sub-back{
                width: 282.3px;
                height: 280.77px;
            }
        }
        @include respond-to('mlg'){
            width: 262.5px;
            height: 236px;
            margin-top: 21px;
            .folder-sub-front{
                width: 262.5px;
                height: 222.98px;
            }
            .folder-sub{
                width: 246.5px;
                height: 227.75px;
            }
            .folder-sub-back{
                width: 232.3px;
                height: 231.03px;
            }
        }
        @include respond-to('md'){
            width: 293.33px;
            height: 267px;
            .folder-sub-front{
                width: 293.33px;
                height: 249.19px;
            }
            .folder-sub{
                width: 277.33px;
                height: 256.19px;
            }
            .folder-sub-back{
                width: 263.13px;
                height: 261.7px;
            }
        }
        @include respond-to('sm'){
            width: 345px;
            height: 318px;
            .folder-sub-front{
                width: 345px;
                height: 293.08px;
            }
            .folder-sub{
                width: 329px;
                height: 303.98px;
            }
            .folder-sub-back{
                width: 314.08px;
                height: 313.09px;
            }
        }
        @include respond-to('xsl'){
            margin: 20px auto;
            width: 340px;
            height: 313px;
            .folder-sub-front{
                width: 340px;
                height: 288.83px;
            }
            .folder-sub{
                width: 324px;
                height: 299.36px;
            }
            .folder-sub-back{
                width: 309.8px;
                height: 308.11px;
            }
        }
        @include respond-to('xsm'){
            margin: 20px auto;
            width: 290px;
            height: 263px;
            .folder-sub-front{
                width: 290px;
                height: 246.36px;
            }
            .folder-sub{
                width: 274px;
                height: 253.16px;
            }
            .folder-sub-back{
                width: 259.8px;
                height: 258.39px;
            }
        }
    }
    .label{
        position: absolute;
        right: 15px;
        top: 26%;
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        padding: 10px;
        border-radius: 0;
        z-index: 10;
        &.magenta{
            background-color: #7e5485;
        }
        &.blue{
            background-color: #6f88c6;
        }
        &.green{
            background-color: #8bbcb5;
        }
        &.brown{
            background-color: #c4a674;
        }
    }
    .folder-content{
        position: absolute;
        left: 0;
        bottom: 0;
        border-bottom-right-radius: 7px;
        border-bottom-left-radius: 7px;
        overflow: hidden;
        z-index: 2;
        width: 100%;
        @include respond-to('lg'){
            border-bottom-right-radius: 7px;
            border-bottom-left-radius: 7px;
        }
        @include respond-to('md'){
            border-bottom-right-radius: 7px;
            border-bottom-left-radius: 7px;
        }
        @include respond-to('sm'){
            border-bottom-right-radius: 7px;
            border-bottom-left-radius: 7px;
        }
        @include respond-to('xs'){
            border-bottom-right-radius: 7px;
            border-bottom-left-radius: 7px;
        }
        .title{
            float: none;
            clear: both;
            padding: 12px 18px 0;
            margin: 0;
            max-height: 150px;
            overflow: hidden;
            color: #fff!important;
            font-size: 1.7rem;
            line-height: 1.9rem;
            border-bottom: 13px solid rgba(0, 0, 0, 0);
            background: -moz-linear-gradient(left, rgba(0,0,0,.5) 0%, rgba(0,0,0,0.5) 60%, rgba(0,0,0,0.2) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, rgba(0,0,0,.5) 0%,rgba(0,0,0,0.5) 60%,rgba(0,0,0,0.2) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, rgba(0,0,0,.5) 0%,rgba(0,0,0,0.5) 60%,rgba(0,0,0,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#03000000',GradientType=1 ); /* IE6-9 */
        }

        .bottom-icons{
            font-family: $base-font-family;
            padding: 10px 10px 6px;
            background-color: rgba(255, 0, 0, .5);
            color: #fff!important;
            background: -moz-linear-gradient(bottom, rgba(0,0,0,.35) 0%, rgba(0,0,0,.15) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(bottom, rgba(0,0,0,.35) 0%, rgba(0,0,0,.15) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to top, rgba(0,0,0,.35) 0%, rgba(0,0,0,.15) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#03000000',GradientType=1 ); /* IE6-9 */

            .bottom-icons-clearfix {
                clear:both;
                display: block;
                height: 1px;
            }
            .folder-icon{
                margin-right: 15px;
            }

            .rating{
                span{
                    margin-right: 2px;
                }
            }

            .status{
                font-size: 1.8rem;
                float: right;
                margin-right: 5px;
                margin-left: 15px;
                .icon-lock{
                    color: #cd2a27;
                }
                .icon-unlock-alt{
                    color: #ff9f09;
                }
                .icon-unlock{
                    color: #56bf50;
                }
            }
        }
    }
    .folder-front{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 1;
    }
    .folder-back{
        width: 100%;
        position: relative;
        z-index: -3;
    }

    .folder-sub-front{
        position: absolute;
        width: 100%;
        height: auto;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
    .folder-sub{
        position: absolute;
        margin-left: 16px;
        width: calc(100% - 16px);
        height: auto;
        bottom: 0;
        right: 0;
        z-index: -2;
        @include transition;
    }
    .folder-sub-back{
        position: relative;
        margin-left: 30.2px;
        width: calc(100% - 30.2px);
        height: auto;
        z-index: -3;
    }

    .files-group{
        position: absolute;
        box-sizing: content-box;
        bottom: 95px;
        left: 7%;
        width: 86%;
        z-index: -1;
        .file{
            position: absolute;
            width: 100%;
            bottom: 0;
            @include transition;
        }
        .file-1{
            transform: rotate(-2deg);
        }
        .file-2{
            transform: rotate(4deg) translateX(8px);
        }
        .file-3{
            transform: rotate(-4deg);
        }
        .file-4{
            transform: rotate(-1deg) translateX(15px);
        }
    }
    &:hover{

        .file-1{
            transform: rotate(-3deg) translateY(-15px) translateX(-10px);
        }
        .file-2{
            transform: rotate(5deg) translateY(-12px) translateX(-5px);
        }
        .file-3{
            transform: rotate(-1deg) translateY(-10px) translateX(-2px);
        }
        .file-4{
            transform: rotate(3deg) translateY(-8px) translateX(18px);
        }
        .folder-sub{
            transform: translateY(-3%) translateX(-2%);
        }

        .folder-content{
            .title{
                // background: -moz-linear-gradient(left, rgba(0,0,0,.7) 0%, rgba(0,0,0,0.6) 60%, rgba(0,0,0,0.4) 100%); /* FF3.6-15 */
                // background: -webkit-linear-gradient(left, rgba(0,0,0,.7) 0%,rgba(0,0,0,0.6) 60%,rgba(0,0,0,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
                // background: linear-gradient(to right, rgba(0,0,0,.7) 0%,rgba(0,0,0,0.6) 60%,rgba(0,0,0,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#03000000',GradientType=1 ); /* IE6-9 */
            }
        }
    }
}

.course-progress-wrap{
    display: block;
    float: right;
    width: 70px;
    white-space: nowrap;
    .progress{
        display: inline-block;
        height: 5px;
        border-radius: 2.5px;
        width: 30px;
        line-height: 1.6rem;
        margin: 0 2px 3px 0;
        overflow: hidden;
        .progress-bar{
            border-top-left-radius: 2.5px;
            border-bottom-left-radius: 2.5px;
            &.progress-bar-unlock{
                background: #56bf50;
            }
            &.progress-bar-unlock-alt{
                background: #ff9f09;
            }
            &.progress-bar-lock{
                background: #cd2a27;
            }

        }
    }
    .progress-count{
        display: inline-block;
        line-height: 1.6rem;
    }
}

.row-key-categories{
    .folder-wrap{
        z-index: 1;

        &.folder-with-files{
            float: left;
            margin: 0 15px 15px 0;
            width: 262.5px;
            height: 237px;
            .folder-front{
                width: 262.5px;
                height: 198.33px;
            }
            @include respond-to('xsl'){
                float: none;
                margin: 0 auto 15px auto;
            }
            @include respond-to('xsm'){
                float: none;
                margin: 0 auto 15px auto;
            }
            @include respond-to('xss'){
                float: none;
                margin: 0 auto 15px auto;
            }

        }
        &.folder-with-subfolders{
            float: left;
            margin: 0 15px 15px 0;
            width: 262.5px;
            height: 236px;
            .folder-sub-front{
                width: 262.5px;
                height: 222.98px;
            }
            .folder-sub{
                width: 246.5px;
                height: 227.75px;
            }
            .folder-sub-back{
                width: 232.3px;
                height: 231.03px;
            }
            @include respond-to('xsl'){
                float: none;
                margin: 0 auto 15px auto;
            }
            @include respond-to('xsm'){
                float: none;
                margin: 0 auto 15px auto;
            }
            @include respond-to('xss'){
                float: none;
                margin: 0 auto 15px auto;
            }
        }
    }
}
